@media screen and (min-width: 1200px) {
    .container { max-width: 1158px; } 


    img {
        display: block;
        max-width: 100%;
        height: auto;
    }


    .header-list{
        display: flex;
        gap: 40px;
    }

    .contact-item {
        display: flex;
        gap: 40px;
        padding-left: 332px;
    }


    .hero {
        padding-top: 188px;
        padding-bottom: 188px;
        background-image: linear-gradient(
            rgba(46, 47, 66, 0.7), 
            rgba(46, 47, 66, 0.7)
            ), 
            url(../images/desktop-hero.jpg);
        max-width: 1440px;
    }


    .hero-head {
        font-size: 56px;
        line-height: 60px;
        text-align: center;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 48px;
        width: 496px;
    }



    .strategies-item {
        width: calc((100% - 72px) / 4);
    } 

    .main-head-three {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--main-head-color);
        margin-bottom: 8px;
    }

    .section-two {
        background: #F4F4FD;
        border-radius: 4px;
        margin-bottom: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 264px;
        height: 112px;
    }

    .section-two-icon {
        display: flex;
    }

    .main-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--contact-color);
    }

    .our-team,
    .customers,
    .wwd-size {
        padding-top: 120px;
        padding-bottom: 120px;
    }


    .our-team-item {
        width: calc((100% - 72px) / 4);
        background-color: rgba(255, 255, 255, 0.1);
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
        border-radius: 0px 0px 4px 4px;
    }


    .wwd-size {
        display: flex;
        padding-bottom: 120px;
    }

    .wwd-list {
        display: flex;
        gap: 48px 24px;
    }

    .wwd-item {
        width: calc((100% - 48px) / 3);
    }


    .footer-display {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
    }
    
    
    
    .footer-items {
        margin-right: 120px;
        margin-bottom: 0;
    }


    .footer-subs {
        display: flex;
        flex-wrap: nowrap; 
        margin-left: auto;
        margin-top: 96px;
    }
    
    .footer-form {
        display: flex;
        flex-direction: row;
    }

    .footer-form-input {
        width: 264px;
        margin-right: 24px;
    }


    .footer-text-two {
        display: flex;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        margin-bottom: 14px;
        /* margin-top: 96px; */
    }
    

    .footer-social-media {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 96px;
    }

    .footer-subs {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }


}


   