@media screen and (min-width: 768px) { 
    .container { 
        max-width: 768px;
    } 


    .header-list{
        display: flex;
        gap: 40px;
    }

    .contact-item {
        display: block;
        padding-left: 121px;
    }

    .hero {
        background-image: linear-gradient(to right,
            rgba(46, 47, 66, 0.7), 
            rgba(46, 47, 66, 0.7)
            ), 
            url(../images/tab-hero.jpg);
        padding-top: 112px;
        padding-bottom: 112px;
    }

    @media (min-device-pixel-ratio: 2), 
    (min-resolution: 192dpi), 
    (min-resolution: 2ddpx) {
    .hero {
        background-image: linear-gradient(
        rgba(46, 47, 66, 0.7), 
        rgba(46, 47, 66, 0.7)
        ), 
        url(../images/tab-hero.jpg);
    }
}


    .hero-head {
        font-size: 56px;
        line-height: 60px;
        text-align: center;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 48px;
        width: 496px;
    }




    .main-head-three {
        display: flex;
        justify-content: center;
        font-weight: 700;
        font-size: 36px;
        line-height: 40px;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #2E2F42;
        padding-bottom: 8px;

    }

    .strategies-item {
        width: calc((100% - 24px) / 2);
    }

    .strategies-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .our-team,
    .customers {
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .our-team-item {
        width: calc((100% - 24px) / 2);
        background-color: rgba(255, 255, 255, 0.1);
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
        border-radius: 0px 0px 4px 4px;
    }

    .footer-display .container {
        max-width: 565px;
    }

    .footer-items {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: baseline;
        padding-right: 24px;
        margin-bottom: 72px;
        margin-top: 96px;
    }
    
    .footer-display {
        display: flex; 
        flex-direction: row; 
        flex-wrap: wrap;
        /* padding-left: 108px; */
    }

    .footer-social-media {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: baseline;
        margin-top: 96px;
    }
    


    .footer-subs {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: baseline
    }
    
    .footer-form {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }

    .footer-form-input {
        width: 264px;
        margin-right: 24px;
        margin-bottom: 0;
    }
    


@media  screen and (min-width: 768px), (max-width: 1199px) {
    .container-sm {
        max-width: 768px;
    }
}



}
    
    

